@import (reference) "../../styles/variables";

.Nav {
  display: flex;
  align-items: center;
  gap: 1rem;

  @media screen and (max-width: @breakpoint-mobile) {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    > .Button {
      width: 100%;
      justify-content: flex-start;
    }
  }
}
