@import (reference) "../../../styles/grid";
@import (reference) "../../../styles/typography";

.ResumeSectionItem {
  margin-bottom: 1.25rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__Header {
    .columns-2();
    margin-bottom: 0.375rem;

    @media screen and (max-width: @breakpoint-tablet) {
      margin-bottom: 0.5rem;
    }

    @media screen and (max-width: @breakpoint-mobile) {
      margin-bottom: 1rem;
    }
    &__Column {
      &:first-child {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
      }

      &:last-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        gap: 1rem;
        > img {
          width: 2.125rem;
          height: 2.125rem;
          @media screen and (max-width: @breakpoint-mobile) {
            display: none;
          }
        }

        @media screen and (max-width: @breakpoint-tablet) {
          margin-top: -0.5rem;
        }

        @media screen and (max-width: @breakpoint-mobile) {
          margin-top: 0.5rem;
        }
      }
    }
  }

  &__Title > a {
    .header-3();
    .link();
  }

  &__Subtitle {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    .header-3-content();
    > span {
      margin-top: 0.125rem;
    }
  }

  &__Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;

    @media screen and (max-width: @breakpoint-tablet) {
      gap: 1.5rem;
    }

    &__Item {
      .columns-2();

      &__Title {
        .header-4();
      }

      &__Subtitle {
        .paragraph();

        @media screen and (max-width: @breakpoint-tablet) {
          margin-bottom: 0.75rem;
        }
      }

      &__Body {
        max-width: calc(100% - 3.125rem);
        @media screen and (max-width: @breakpoint-tablet) {
          max-width: calc(100% - 3.125rem);
        }

        @media screen and (max-width: @breakpoint-mobile) {
          max-width: 100%;
        }
      }

      &__Paragraph {
        .paragraph();

        strong {
          .paragraph-bold();
        }
      }
    }
  }
}
