@import (reference) "../../../styles/variables";

.ResumeSectionStars {
  color: @color-red-400;
  display: flex;
  align-items: center;
  gap: 0;

  &__Icon {
    max-width: 0.875rem;
    max-height: 0.875rem;
    margin-right: -2px;
    margin-top: -2px;
  }
}
