@import "../../../styles/variables";
@import "../../../styles/typography";

.Button {
  .link();
  font-weight: 600;
  color: @color-white;
  background-color: @color-red-600;
  height: 3rem;
  width: fit-content;
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 0.75rem;
  border-radius: @border-radius-default;
  outline: none;
  border: 1px solid transparent;

  &--primary {
    background-color: @color-red-600;
    color: @color-white;

    &:hover {
      cursor: pointer;
      color: @color-white;
      background-color: @color-red-800;
      svg {
        opacity: 0.75;
      }
    }

    &:active {
      color: @color-white;
      background-color: darken(@color-red-800, 5%);
      svg {
        opacity: 0.75;
      }
    }

    &:focus {
      color: @color-white;
      box-shadow: 0 0 0 0.125rem rgba(@color-red-600, 0.5);
      svg {
        opacity: 0.75;
      }
    }
  }

  &--secondary {
    background-color: transparent;
    color: @color-red-600;
    border-color: @color-red-600;

    &:hover {
      cursor: pointer;
      color: @color-red-800;
      border-color: @color-red-800;
      background-color: @color-gray-200;
      svg {
        opacity: 0.75;
      }
    }

    &:active {
      color: darken(@color-red-800, 5%);
      border-color: darken(@color-red-800, 5%);
      background-color: @color-gray-300;
      svg {
        opacity: 0.75;
      }
    }

    &:focus {
      color: @color-red-600;
      box-shadow: 0 0 0 0.125rem rgba(@color-gray-800, 0.5);
      svg {
        opacity: 0.75;
      }
    }
  }

  &--withShadow {
    box-shadow: @box-shadow-large;
    &:hover {
      box-shadow: @box-shadow-large;
    }
    &:focus {
      box-shadow: @box-shadow-large, 0 0 0.125rem rgba(@color-red-600, 0.75);
    }
  }

  &--disabled {
    cursor: not-allowed !important;
    background-color: @color-gray-500 !important;
    color: @color-gray-800!important;

    svg {
      opacity: 0.5 !important;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: @color-gray-500 !important;
      color: @color-gray-800 !important;
    }
  }

  &--navlink {
    background-color: transparent;
    color: @color-gray-800;
    border: 0 !important;
    &:hover {
      color: @color-gray-900;
      background-color: @color-gray-300;
      svg {
        opacity: 1;
      }
    }

    &:focus {
      color: @color-gray-800;
    }
  }

  &--active {
    color: @color-red-600;
  }

  &--transparent {
    background-color: transparent;
  }

  &--notFocusable {
    &:focus {
      box-shadow: none !important;
    }
  }

  &--small,
  &--sm {
    height: 2.25rem;
  }

  &--xsmall,
  &--xsm,
  &--xs {
    height: 1.75rem;
    font-size: 0.8125rem;
  }

  svg {
    transition: @transition-all;
    width: 1rem;
    height: 1rem;
    opacity: 0.5;
  }
}
