@import (reference) "../../styles/variables";

.Resume {
  width: 100%;
  max-width: @breakpoint-resume-width;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  background-color: @color-white;
  border-radius: @border-radius-large;

  @media screen and (max-width: @breakpoint-resume-width) {
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 6rem;
  }

  @media screen and (max-width: @breakpoint-tablet) {
    padding: 3rem 1.5rem 6rem 1.5rem;
  }
}
