@import (reference) "../../../styles/variables";

.Spinner {
  z-index: 9999;
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;

  svg {
    animation: spin 5s linear infinite;
    color: @color-gray-500;
    width: 2rem;
    height: 2rem;
    background-color: rgba(@color-white, 0.25);
  }
  &--app {
    top: 0;
    left: 0;
  }

  &--page {
    top: @header-height;
    background-color: rgba(@color-gray-100, 0.7);
    backdrop-filter: blur(0.5rem);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
