@import (reference) "../../../styles/variables";

.HorizontalRule {
  height: 1px;
  width: 100%;
  background-color: @color-red-400;

  &--small {
    max-width: 0.75rem;
  }

  &--gray-300 {
    background-color: @color-gray-300;
  }
  &--gray-500 {
    background-color: @color-gray-500;
  }

  &--green-400 {
    background-color: @color-green-400;
  }
}
