@import (reference) "../styles/variables";

.HomeLayout {
  display: flex;
  height: 100%;
  min-height: calc(100vh + 6rem);
  flex-direction: column;
  gap: 20rem;
  justify-content: space-between;
  padding: calc(@header-height + 4rem) 2rem 8rem;

  @media screen and (max-width: @breakpoint-tablet) {
    padding: calc(@header-height + 2rem) 1.5rem 8rem;
  }
}
