@import (reference) "../styles/variables";
@import (reference) "../styles/typography";
@import (reference) "../styles/layout";

.StaticLayout {
  .layout-default();

  &__content {
    .layout-content();

    h1 {
      .header-1();
    }
    h2 {
      .header-2-content();
    }
    h3 {
      .header-3-content();
    }
    h4 {
      .header-4();
    }
    p {
      .paragraph();
    }
    small {
      .paragraph-small();
    }
  }

  &--alignItemsCenter {
    .StaticLayout {
      &__content {
        align-items: center;
      }
    }
  }

  &.Error404Page {
    .StaticLayout__content {
      > .anticon > svg {
        width: 3rem;
        height: 3rem;
        color: @color-gray-600;
        margin-bottom: 1rem;
      }
      .Button {
        margin-top: 1rem;
      }
    }
  }
}
