@import (reference) "../../styles/variables";
@import (reference) "../../styles/typography";

.Footer {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  background-color: @color-gray-200;
  width: 100%;

  @media screen and (max-width: @breakpoint-mobile) {
    justify-content: flex-start;
  }

  &__Copyright {
    .paragraph-small();
    color: @color-gray-1000;
  }
}
