@import (reference) "../../styles/variables";
@import (reference) "../../styles/typography";

.Footer {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.5rem;
  background-color: @color-gray-200;
  width: 100%;
  gap: 1rem;

  .App--DarkenedBackground & {
    transition: background-color 1s ease-in-out;
    background-color: @color-gray-400;
  }

  @media screen and (max-width: @breakpoint-mobile) {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 1rem 1.5rem;
    gap: 0.5rem;
  }

  &__Copyright {
    .paragraph-small();
    flex: 0 0 auto;
    color: @color-gray-1000;
  }

  &__Legal {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    .paragraph-small();
    color: @color-gray-1000;

    a {
      .link();
      .paragraph-small();
      color: @color-gray-1000;
    }
  }
}
