
  
  
  $white:        #ffffff;
  $black:        #444445;
  $red:          #D03C3C;
  $yellow:       #B5A642;
  $blue:         #365060;
  $box-shadow:   0 1px 2px rgba(0,0,0, 0.075);
  
  $brand-primary:   $blue;
  $brand-danger:    $red;
  $brand-info:      $yellow;
  
  $gray:          #DCE0E2;
  $gray-base:     $black;
  $gray-darker:   darken($gray, 50%);
  $gray-dark:     darken($gray, 20%);
  $gray-light:    lighten($gray, 5%);
  $gray-lighter:  lighten($gray, 10%);
  
  $body-bg:     $white;
  $link-color:  lighten($blue, 10%);
  $text-color:  $black;
  
  $font-family-sans-serif:  'Oswald', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  $font-family-serif:       'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
  $font-size-base:          16px;
  $font-size-large:         20px;
  
  $font-size-h1:            52px;
  $font-size-h2:            40px;
  $font-size-h3:            32px;
  $font-size-h4:            24px;
  $font-size-h5:            20px;
  $font-size-h6:            16px;
  
  $font-family-base:        $font-family-serif;
  
  $padding-base-vertical:     floor(($font-size-base * 1.33333333));
  $padding-base-horizontal:   floor(($font-size-base * 1.33333333));
  
  $padding-small-vertical:    floor(($font-size-base * 0.66666667));
  $padding-small-horizontal:  floor(($font-size-base * 0.66666667));
  
  $padding-large-vertical:    16px;
  $padding-large-horizontal:  48px;
  
  $line-height-base:        1.5;
  $line-height-large:       1.5;
  $line-height-small:       2;
  $line-height-computed:    floor(($font-size-base * $line-height-base));
  
  $btn-font-weight: 500;
  
  $btn-default-color:     $red;
  $btn-default-bg:        transparent;
  $btn-default-border:    $red;
  
  $border-radius-base:    0px;
  $border-radius-large:   0px;
  $border-radius-small:   0px;
  
  $input-bg:                  rgba($white, 0.00);
  $input-color:               $white;
  $input-border:              $white;
  $input-color-placeholder:   rgba($white, 0.1);
  $input-height-base:         ($line-height-computed + ($padding-small-vertical * 2) + 2);
  $input-border-radius:       $border-radius-small;
  
  $form-group-margin-bottom:    floor(($font-size-base * 1.5));
  
  $modal-lg: 100%;
  $modal-md: 100%;
  $modal-sm: 100%;
  
  $modal-content-bg:              $blue;
  $modal-content-border-color:    $modal-content-bg;
  
  $grid-gutter-width: 40px;
  
  
  $screen-lg:                  1440px;
  $screen-lg-min:              $screen-lg;
  $screen-lg-desktop:          $screen-lg-min;
  
  $container-large-desktop:   1440px;
  $container-lg:              $container-large-desktop;