@color-black: #000;
@color-white: #fff;
@color-red: #cf113f;
@color-gray-light: #f7f7f7;
@color-gray: #ccc;
@color-gray-dark: #555;

@color-red-darkened: darken(@color-red, 12.5%);
@color-red-darkened-2: darken(@color-red, 20%);

@font-size-default: 16px;
@font-family-serif: "Source Serif Pro", serif;
@font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;

@transition-all: all 0.3s ease-in-out;

@breakpoint-mobile: 768px;
@breakpoint-tablet: 1024px;
@breakpoint-desktop: 1440px;
